
body{
    text-align: center;
    font-family: "Happy Monkey", system-ui;
    /* background:linear-gradient(#a2d2ff,pink); */
    background: linear-gradient(180deg,
                #a2d2ff 0%,
                #cdb4db 50%,
                #ffc8dd 100%);
    color: #ffffff;
}
h1,h2,h3{
    text-shadow: 0px 0px 1px black;
}
#bff{
    width:200px;
    height:200px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;

}
#age{
    background-color: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0 20px 0;
    
}
#date {
    margin:0;
    background-color: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}
#header{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.gift-img{
    background-image: url("gift.png");
    background-size: cover;
    background-position: center;
    width: min(400px, 90%);
    height: 400px;
    margin: 0 auto;
    border: 6px solid lavender;
    border-radius: 8px;
    transition: transform 0.2s ease;
}
.gift-img:hover {
    transform: scale(1.03);
    cursor: pointer;
}
.gift-img:focus {
    outline: 3px solid #EFB0C9;
    outline-offset: 4px;
}
#gift-one:hover{
    background-image: url("bdance.gif");
}
#gift-two:hover{
    background-image: url("applause.gif");
}
#gift-three:hover {
    background-image: url("tea.gif");
}
#gift-four:hover {
    background-image: url("kiss.gif");
}
#gift-five{
    height: 200px;
}
#gift-five:hover {
    background-image: url("cheers.gif");  
}

.gift-section{
    margin-top:50px;
}
.gift-wish{
    margin-bottom: 10px;
}
.gift-hint{
    margin-top: 0;
}
#footer{
    font-style: italic;
    width: min(400px, 90%);
    margin: 40px auto 20px;
}
a{
    color:palevioletred;
}
a:hover {
    text-decoration: underline;
}